<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Computer database</display-name>
	<servlet>
		<servlet-name>Dashboard-servlet</servlet-name>
		<servlet-class>com.excilys.formation.servlet.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dashboard-servlet</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddComputer-servlet</servlet-name>
		<servlet-class>com.excilys.formation.servlet.AddComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddComputer-servlet</servlet-name>
		<url-pattern>/addComputer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditComputer-servlet</servlet-name>
		<servlet-class>com.excilys.formation.servlet.EditComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditComputer-servlet</servlet-name>
		<url-pattern>/editComputer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteComputer-servlet</servlet-name>
		<servlet-class>com.excilys.formation.servlet.DeleteComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteComputer-servlet</servlet-name>
		<url-pattern>/deleteComputer</url-pattern>
	</servlet-mapping>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/WEB-INF/views/404.html</location>
	</error-page>
	
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>classpath:application-context.xml</param-value>
	</context-param>

	<listener>
	   <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	   </listener-class>
	</listener> 
</web-app>